@tailwind base;

@tailwind components;

@tailwind utilities;

main {
  background-color: #e8e8e8;
  padding: 8px;
}

.background {
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

body.active-modal {
  overflow-y: hidden;
}

/* h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
} */

.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.navbar-border {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  padding: 10px 20px;
  border-radius: 10px;
}

.navbar-title-container {
  cursor: pointer;
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hamburger {
  position: absolute;
  right: 20px;
}

/* Mobile menu styles */
.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: gray;
  padding: 10px;
  text-align: right;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

/* Show the mobile menu when a specific class is applied */
.mobile-menu.show {
  display: flex;
}

.pill {
  font-size: 12px;
  border-radius: 2em;
  margin-left: 6px;
  margin-bottom: 6px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: #bbbbbb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pill:hover {
  background: #cccccc;
  cursor: pointer;
}

.pill:active {
  background-color: black;
  color: white;
}

.download {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 12px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px;
}

/* Darker background on mouse-over */
.download:hover {
  background-color: black;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a:hover {
  color: rgb(124, 124, 124);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.close-button {
  position: absolute;
  top: 10px;
  width: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Index etc */

.photo-collection-external-container {
  padding: 2px;
}

.search-filter-collection-container {
  padding: 2px;
}

.collection-container {
  padding: 2px;
 }

/* ABOUT PAGE */
.about-body {
  display: flex;
  flex-direction: column;
  background: -webkit-linear-gradient(top, white, gray);
  height: 100%;
}

.about-photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 8px;
}
 
.about-photo {
  display: flex;
  max-width: 300px;
  margin-left: 8px;
  margin-top: 8px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.about-bio-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.about-bio-paragraph {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #e3e3e3;
  border-style: solid;
  border-width: 2px;
  border-color:black;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.cowboy-angel-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.cowboy-angel-logo {
  cursor: pointer;
  height: 80px;
  width: auto;
  border-radius: 60px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.cowboy-angel-logo:hover {
  opacity: 50%;
}

/* Show mobile menu for screens with a max-width of 600px */
@media (max-width: 600px) {
  .mobile-menu.show {
    display: flex;
  }
}
