@tailwind base;

@tailwind components;

@tailwind utilities;

main {
  background-color: #cccccc;
  min-height: 100%;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

body.active-modal {
  overflow-y: hidden;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
  position:fixed;
  width: 100%;
}

.pill {
  font-size: 12px;
  padding: 0.5em 1em;
  margin: .25 em;
  border-radius: 1em;
  border: none;
  outline: none;
  background: #bbbbbb;
}

.pill:hover {
  background: #cccccc;
}

.pill:focus {
  background: rgb(98, 98, 98);
  color: white;
}

/* .pill:not(.pill--selected):hover {
  background: #cccccc;
  cursor: pointer;

} */

.pill--selected {
  background: teal;
}

.tryAgain {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: thistle;
  padding-top: 100px;
  padding-bottom: 40px;
}

.andAgain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

